@using System.Web.Optimization
@using WorkflowManagementSystem.Models.Faculty
@using WorkflowManagementSystem.Models.Semesters
@using WorkflowManagementSystem.Views
@model WorkflowManagementSystem.Models.Programs.ProgramRequestInputViewModel

@Styles.Render("~/Content/css/theme/create-program.css")

@{Html.RenderPartial("_NavigationHeaderPartial");}

<div class="container form center">
    <div class="col-md-12">
        @using (Html.BeginForm("CreateRequest", "Program", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
           <div class="row center-text">
				<h3 style="margin: 20px;">Create Program</h3>
			</div>
					
			<div class="steps hide">
				<div class="row">
					<div class="col-xs-4 center-text step-one-check">
					    Step One <br/>
						<i class="glyphicon glyphicon-unchecked cursor"></i> 
					</div>
					<div class="col-xs-4 center-text step-two-check">
					    Step Two <br/>
						<i class="glyphicon glyphicon-unchecked cursor"></i> 
					</div>
					<div class="col-xs-4 center-text step-three-check">
					    Step Three <br/>
						<i class="glyphicon glyphicon-unchecked cursor"></i> 
					</div>
				</div>
			</div>
					
			<div class="row">
				<ul class="errors center-text">
				</ul>
			</div>
					
			<!-- STEP ONE START -->
			<div class="step-one">
				<div class="row">
					<div class="col-md-3">
						Requester
					</div>
				    <div class="col-md-9">
				        @Html.TextBox("Requester", (string) ViewBag.UsersFullName, new { @class = "form-control", @readonly = "true" })
				    </div>
				</div>
				
				<div class="row">
					<div class="col-md-3 required">
						Program Name
					</div>
					<div class="col-md-9">
                        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", placeholder = "Program Name", tabindex = "1" })
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-3 required">
						Effective Term
					</div>
				    <div class="col-md-9">
				        @{
				            var semestersSelectList = Html.ConvertToSelectListItem((List<SemesterViewModel>) ViewBag.Semesters);
				        }
                        @Html.DropDownListFor(m => m.Semester, semestersSelectList, new {@class = "form-control", tabindex = "2"})
				    </div>
				</div>
					
				<div class="row">
					<div class="col-md-3 required">
						Faculty
					</div>
				    <div class="col-md-9">
				        @{
				            var facultiesSelectList = Html.ConvertToSelectListItem((List<FacultyViewModel>) ViewBag.Faculties);
				        }
                        @Html.DropDownList("Faculty", facultiesSelectList, new {@class = "form-control", tabindex = "3"})
				    </div>
				</div>
						
				<div class="row">
					<div class="col-md-3 required">
						Discipline
					</div>
				    <div class="col-md-9">
				        @{
				            var disciplinesSelectList = Html.ConvertToSelectListItem((List<DisciplineViewModel>) ViewBag.Disciplines);
				        }
				        @Html.DropDownListFor(x => x.Discipline, disciplinesSelectList, new {@class = "form-control", tabindex = "3"})
				    </div>
				</div>
						
				<div class="row center-text" style="padding: 0 100px; margin: 15px 0;" tabindex="5">
					<input class="form-control button blue hide" type="button" value="Next"/>
				</div>
			</div>
			<!-- STEP ONE END -->

            <!-- CONTEXT FOR STEP TWO AND THREE -->
            <div class="context hide small-text" style="padding: 10px 0; margin: -15px 0 15px; background-color:#FAFAFA;">
                <div class="row" >
                    <div class="col-md-5 right-align">
                        Program Name:
                    </div>
                    <div class="col-md-5">
                        <span class="programName left-align"></span>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-5 right-align">
                        Effective Term:
                    </div>
                    <div class="col-md-5">
                        <span class="effectiveTerm left-align"></span>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-5 right-align">
                        Faculty:
                    </div>
                    <div class="col-md-5">
                        <span class="faculty left-align"></span>
                    </div>
                </div>
                <div class="row" >
                    <div class="col-md-5 right-align">
                        Discipline:
                    </div>
                    <div class="col-md-5">
                        <span class="discipline left-align"></span>
                    </div>
                </div>
            </div>
            <!-- END CONTEXT FOR STEP TWO AND THREE -->
            
            <!-- STEP TWO START -->
			<div class="step-two">
				<div class="row">
					<div class="col-md-3 required">
						Cross Impact
					</div>
					<div class="col-md-9">
						<textarea name="crossImpact" class="form-control expandOnFocus"  rows="2" tabindex="6"
							placeholder="Please identify how impact to other departments has been addressed, including General Education as appropriate"></textarea>
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-3 required">
						Student Impact
					</div>
					<div class="col-md-9">
						<textarea name="studentImpact" class="form-control expandOnFocus"  rows="2" tabindex="7"
							placeholder="Please identify how student input or impact has been assessed"></textarea>
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-3 required">
						Library Impact
					</div>
					<div class="col-md-9">
						<textarea name="libraryImpact" class="form-control expandOnFocus"  rows="2" tabindex="8"
							placeholder="Please identify how impact to the Library has been addressed"></textarea>
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-3 required">
						ITS Impact
					</div>
					<div class="col-md-9">
						<textarea name="itsImpact" class="form-control expandOnFocus"  rows="2" tabindex="9"
							placeholder="Please identify how impact to ITS has been addressed"></textarea>
					</div>
				</div>
						
				<div class="row center-text" style="padding: 0 100px; margin: 15px 0;">
					<input class="form-control button blue hide" type="button" value="Next" tabindex="10"/>
				</div>
			</div>
			<!-- STEP TWO END -->
					
			<!-- STEP THREE START -->
			<div class="step-three">
				<div class="row">
					<div class="col-md-3">
						Comments
					</div>
					<div class="col-md-9">
					    <textarea name="comments" class="form-control expandOnFocus" placeholder="Comments..." rows="2" tabindex="11">
                        </textarea>
					</div>
				</div>
						
				<div class="row">
					<div class="col-md-3">
						Attachments
					</div>
					<div class="col-md-9">
						<input name="attachments[]" type="file" multiple style="font-size:12px;" tabindex="12"/>
					</div>
				</div>
						
				<div class="row center-text" style="padding: 0 100px; margin: 15px 0;">
					<input class="form-control button blue" type="submit" value="Request" tabindex="13"/>
				</div>
			</div>
			<!-- STEP END START -->
        }
	</div>
</div>

<script>
    var disciplinesLookUp = new Array();
    @foreach (var faculty in (List<FacultyViewModel>) ViewBag.Faculties)
    {
        @:disciplinesLookUp['@faculty.Name'] = new Array();
    }
    @foreach (var discipline in (List<DisciplineViewModel>)ViewBag.Disciplines)
    {
        @:disciplinesLookUp['@discipline.Faculty'].unshift(@Html.Raw(Json.Encode(discipline)));
    }

    $(document).ready(function() {
        clearHighlightsOnFocus();
        setDisciplinesDropDown($("#Faculty").val());

        // enable javascript features
        $(".steps").removeClass("hide"); //workaround for !important attribute from bootstrap
        $(".step-one .button").removeClass("hide"); //workaround for !important attribute from bootstrap
        $(".step-two .button").removeClass("hide"); //workaround for !important attribute from bootstrap

        $(".step-two").hide();
        $(".step-three").hide();

        $(".step-one input, .step-one textarea").keydown(function(){
            // enter key
            if (event.keyCode == 13) {
                $(".step-one .button").click();
                return false;
            }
        });
        
        $(".step-two input, .step-two textarea").keydown(function(){
            // enter key
            if (event.keyCode == 13) {
                $(".step-two .button").click();
                return false;
            }
        });

        $("#Faculty").change(function() {
            setDisciplinesDropDown($(this).val());
        });
    });

    function setDisciplinesDropDown(selectedFaculty) {
        var disciplines = disciplinesLookUp[selectedFaculty];
        $("#Discipline").empty();
        disciplines.forEach(function (discipline) {
            var option = $("<option></option>").val(discipline.Id).text(discipline.Code + " - " + discipline.Name);
            $("#Discipline").append(option);
        });
    }

    // change to step one on checkmark click
    $(".steps").on("click", ".step-one-check .glyphicon-check", function() {
        $(".step-one").show();
        $(".step-one .button").show();
		
        $(".step-two").hide();
        $(".step-two .button").hide();
		
        $(".step-three").hide();
        hideContext();
    });

    // change to step two on checkmark click
    $(".steps").on("click", ".step-two-check .glyphicon-check", function() {
        $(".step-two").show();
        $(".step-two .button").show();
		
        $(".step-one").hide();
        $(".step-one .button").hide();
		
        $(".step-three").hide();
        showContext();
    });

    // change to step three on checkmark click
    $(".steps").on("click", ".step-three-check .glyphicon-check", function() {
        $(".step-three").show();
        $(".step-two").hide();
        $(".step-two .button").hide();
		
        $(".step-one").hide();
        $(".step-one .button").hide();

        showContext();
    });

	
    $(".step-one .button").click(function() {
        clearErrors();

        validateProgramName();

        if (hasErrors()) {
            printErrors();
            return false;
        }
		
        $(".step-one-check .glyphicon").removeClass("glyphicon-unchecked");
        $(".step-one-check .glyphicon").addClass("glyphicon-check");

        $(".step-one").hide();
        $(".step-one .button").hide();

        $(".step-two").show();
        $(".step-two .button").removeClass("hide"); 
        $(".step-two .button").show();

        showContext();
    });

    function showContext(){
        $(".context").removeClass("hide"); //workaround for !important attribute from bootstrap
        $(".context .programName").text($("#Name").val());
        $(".context .effectiveTerm").text($("#Semester option:selected").text());
        $(".context .faculty").text($("#Faculty option:selected").text());
        $(".context  .discipline").text($("#Discipline option:selected").text());
    }

    function hideContext(){
        $(".context").addClass("hide");
    }

    function validateProgramName() {
        var programName = $("#Name").val().trim();
        if (programName === '') addError("Program name is required.", "name");
    }

    $(".step-two .button").click(function() {
        clearErrors();

        validateCrossImpact();
        validateStudentImpact();
        validateLibraryImpact();
        validateItsImpact();

        if (hasErrors()) {
            printErrors();
            return false;
        }
		
        $(".step-two-check .glyphicon").removeClass("glyphicon-unchecked");
        $(".step-two-check .glyphicon").addClass("glyphicon-check");

        $(".step-two").hide();
        $(".step-two .button").hide();
        $(".step-three").show();

        showContext();
    });

    function validateCrossImpact() {
        var crossImpact = $("textarea[name='crossImpact']").val().trim();
        if (crossImpact === '') addError("Cross impact is required.", "crossImpact");
    }

    function validateStudentImpact() {
        var studentImpact = $("textarea[name='studentImpact']").val().trim();
        if (studentImpact === '') addError("Student impact is required.", "studentImpact");
    }

    function validateLibraryImpact() {
        var libraryImpact = $("textarea[name='libraryImpact']").val().trim();
        if (libraryImpact === '') addError("Library impact is required.", "libraryImpact");
    }

    function validateItsImpact() {
        var itsImpact = $("textarea[name='itsImpact']").val().trim();
        if (itsImpact === '') addError("ITS impact is required.", "itsImpact");
    }
	
	
    $(".step-three .button").click(function() {
        $(".step-three-check .glyphicon").removeClass("glyphicon-unchecked");
        $(".step-three-check .glyphicon").addClass("glyphicon-check");

        $("form").submit();
    });

</script>