@using System.Web.Optimization
@model WorkflowManagementSystem.Models.Programs.ProgramViewModel

@Styles.Render("~/Content/css/theme/program-summary.css")

<div class="container program-summary center">
    <div class="col-xs-12">
        <div class="row center-text">
            <h3 style="margin: 20px;">Program Request</h3>
        </div>

        <!-- summary details start -->
        <div class="row">
            <div class="col-sm-6 summary-details">
                <div class="row center-text">
                    <h5>Summary</h5>
                </div>

                <div class="details small-text">
                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Requested On: </div>
                        <div class="col-xs-6 "> @Model.RequestedDateUTC </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Requested By: </div>
                        <div class="col-xs-6 "> @Model.Requester </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Name: </div>
                        <div class="col-xs-6 "> @Model.Name </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Discipline: </div>
                        <div class="col-xs-6 "> @Model.Discipline </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Cross Impact: </div>
                        <div class="col-xs-6 ">
                            <p class=cross-impact> @Model.CrossImpact </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Student Impact: </div>
                        <div class="col-xs-6">
                            <p class="student-impact"> @Model.StudentImpact </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> Library Impact: </div>
                        <div class="col-xs-6">
                            <p class="library-impact"> @Model.LibraryImpact </p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6 bold-text right-align"> ITS Impact: </div>
                        <div class="col-xs-6">
                            <p class="its-impact"> @Model.ITSImpact </p>
                        </div>
                    </div>
                </div>
            </div>
            <!-- summary details end -->

            <!-- workflow details start -->
            <div class="col-sm-6 workflow-details">
                <div class="row center-text">
                    <h5>Workflow</h5>
                </div>

                <div class="workflow-details small-text">
                    @foreach (var workflowStep in Model.WorkflowSteps)
                    {
                        <div class="row detail @workflowStep.GetStatusDisplay() ?>">
                            <div class="col-xs-5 right-align">
                                Role:
                            </div>
                            <div class="col-xs-7 left-align">
                                @workflowStep.ResponsibleParty
                            </div>

                            <div class="row">
                                <div class="col-xs-5 right-align">
                                    Status:
                                </div>
                                <div class="col-xs-7 left-align">
                                    @workflowStep.GetStatusDisplay()
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-xs-5 right-align">

                                    @if (workflowStep.IsApproved())
                                    {
                                        @:Approved By:
                                    }
                                    @if (workflowStep.IsRejected())
                                    {
                                        @:Rejected By:
                                    }
                                </div>
                                <div class="col-xs-7 left-align">
                                    @workflowStep.User
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <!-- workflow details end -->

        <!-- comments start -->
        <div class="row">
            <div class="col-xs-12 comments">
                <div class="row center-text">
                    <h5>Comments</h5>
                </div>

                @if (Model.Comments.Count == 0)
                {
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="comment center-text small-text">
                                No Comments
                            </p>
                        </div>
                    </div>
                }
                else
                {
                    foreach (var comment in Model.Comments)
                    {
                        Html.RenderPartial("_WorkflowItemCommentPartial", comment);
                    }
                }

                <div class="row add-comment" style="margin-top: 20px;">
                    @using (Html.BeginForm("AddComment", "Program", FormMethod.Post, new {id = "add-comment-form"}))
                    {
                        @Html.Hidden("WorkflowItemName", Model.Name)
                        <textarea name="Text" class="form-control expandOnFocus" placeholder="Comments..." rows="2" tabindex="11"></textarea>
                        <input class="form-control button blue" type="submit" value="Add Comment" tabindex="13" style="max-width: 400px; margin: 15px auto;"/>
                    }
                </div>
            </div>
        </div>
        <script>
            $(document).ready(function () {
                $("#add-comment-form").submit(function (e) {
                    e.preventDefault();
                    var form = $(this);
                    $.ajax({
                        type: "POST",
                        dataType: "html",
                        url: form.attr("action"),
                        data: form.serialize(),
                        async: true,
                        success: function (html) {
                            $(html).insertBefore($(".comments .row.add-comment"));
                            $(".comments form")[0].reset();
                        }
                    });
                });
            });
        </script>
        <!-- comments end-->

    </div>
</div>