@using System.Web.Optimization
@model WorkflowManagementSystem.Controllers.DashboardViewModel

@Styles.Render("~/Content/css/theme/dashboard.css")

<div class="container">
    <div class="row">
        <!-- ACTIONABLE ITEMS START -->
        <div class="col-md-6">
            <div class="actionable-items">
                <h6>Actionable Items</h6>

                @foreach (var actionItem in Model.ActionableRequests)
                {
                    <a href="@Url.Action("UpdateStatus", "Program", new {actionItem.Name})">
                        <div class="container item">
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Request Date: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.RequestedDateUTC </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Requested By: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.Requester </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Program Name: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.Name </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Status: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.CurrentStatus() </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <!-- ACTIONABLE ITEMS END -->
				
        <!-- REQUESTS START -->
        <div class="col-md-6">
            <div class="request-items">
                <h6>Your Requested Items</h6>

                @foreach (var userRequest in Model.UserRequests)
                {
                    <a href="@Url.Action("Summary", "Program", new {userRequest.Name})">
                        <div class="container item">
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Request Date: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.RequestedDateUTC </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Program Name: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.Name </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Reponsible Party: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.CurrentResponsibleParty() </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6"> Status: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.CurrentStatus() </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <!-- REQUESTS END -->
    </div>
</div>