@using System.Web.Optimization
@using WorkflowManagementSystem.Views
@model WorkflowManagementSystem.Controllers.DashboardViewModel

@Styles.Render("~/Content/css/theme/dashboard.css")

<div class="container">
    <div class="row">
        <!-- ACTIONABLE ITEMS START -->
        <div class="col-md-6">
            <div class="actionable-items">
                <p class="header">Actionable Items</p>

                @foreach (var actionItem in Model.ActionItems)
                {
                    <a href="@Url.Action("UpdateStatus", actionItem.Type.ToString(), new {actionItem.Name})">
                        <div class="container item">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Request Date: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.RequestedDateUTC </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Requested By: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.Requester </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Program Name: </div>
                                <div class="col-md-8 col-xs-6"> @actionItem.Name </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Status: </div>
                                <div class="col-md-8 col-xs-6"> @Html.GetWorkflowStatusDisplay(actionItem.CurrentState) </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <!-- ACTIONABLE ITEMS END -->
				
        <!-- REQUESTS START -->
        <div class="col-md-6">
            <div class="request-items">
                <p class="header">Your Requested Items</p>

                @foreach (var userRequest in Model.UserRequests)
                {
                    <a href="@Url.Action("Summary", "Program", new {userRequest.Name})">
                        <div class="container item">
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Request Date: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.RequestedDateUTC </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Program Name: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.Name </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Reponsible Party: </div>
                                <div class="col-md-8 col-xs-6"> @userRequest.CurrentResponsibleParty() </div>
                            </div>
                            <div class="row">
                                <div class="col-md-4 col-xs-6 bold-text text-uppercase"> Status: </div>
                                <div class="col-md-8 col-xs-6"> @Html.GetWorkflowStatusDisplay(userRequest.CurrentState()) </div>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </div>
        <!-- REQUESTS END -->
    </div>
</div>