@using System.Web.Optimization
@using WorkflowManagementSystem.Models.ApprovalChains
@using WorkflowManagementSystem.Views
@Styles.Render("~/Content/css/theme/admin.css")

<div class="container">
    <div class="row">
        <!-- USER MANAGEMENT START -->
        <div class="col-md-6">
            <div class="user-management">
                <p class="header">User Management</p>
                <div class="row user-search">
                    <div class="col-xs-2">
                        Search:
                    </div>
                    <div class="col-xs-10">
                        <input id="user-search" class="form-control"/>
                    </div>
                </div>
                <div class="row">
                    <table id="userSearchResultsTable" class="table tablesorter">
                        <thead>
                        <tr>
                            <th class="center-text" style="width: 40%">Email</th>
                            <th class="center-text" style="width: 40%">Display Name</th>
                            <th class="center-text" style="width: 20%">Admin</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- USER MANAGEMENT END -->

        <!-- APPROVAL CHAINS START -->
        <div class="col-md-6">
            <div class="approval-chains">
                <p class="header">Approval Chains</p>
                <div class="row approval-chains-search">
                    <div class="col-xs-2">
                        Types:
                    </div>
                    <div class="col-xs-9">
                        @Html.DropDownList("approvalChainTypes", Html.ConvertToSelectListItem(ApprovalChainTypes.TYPES), new {@class = "form-control"})
                    </div>
                    <div class="col-xs-1">
                        <a class="create-approval-chain"href="@Url.Action("CreateApprovalChain")">+</a>                   
                    </div>
                </div>
                <div class="row">
                    <table id="approvalChainSearchResultsTable" class="table tablesorter">
                        <thead>
                        <tr>
                            <th class="center-text" style="width: 35%">Approval Chain Type</th>
                            <th class="center-text" style="width: 50%">Roles</th>
                            <th class="center-text" style="width: 15%">Active</th>
                        </tr>
                        </thead>
                        <tbody>
                        
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- APPROVAL CHAINS END -->
    </div>
</div>

<script>
    $(document).ready(function() {
        bindUserSearchEvent();
        bindApprovalChainSearchEvent();
        approvalChainSearch();
    });

    function bindApprovalChainSearchEvent() {
        $("#approvalChainTypes").change(approvalChainSearch);
    }

    function approvalChainSearch() {
        var approvalChainType = $("#approvalChainTypes").val();
        $.ajax({
            type: "POST",
            dataType: "json",
            url: "@Url.Action("FindApprovalChains")",
                data: {
                    approvalChainType: approvalChainType
                },
                async: true,
                success: function (jsonData) {
                    renderApprovalChains(jsonData);
                    bindSetActiveApprovalChainEvent();
                }
            });
    }

    function renderApprovalChains(jsonData) {
        var approvalChainsSearchResultsBody = $("#approvalChainSearchResultsTable tbody");
        approvalChainsSearchResultsBody.empty();
        for (var index in jsonData) {
            var approvalChainJson = jsonData[index];
            var row = $("<tr></tr>");
            var approvalChainName = $("<td></td>").addClass("center-text").text(approvalChainJson.Name);

            var approvalChainSteps = "";
            for (var index in approvalChainJson.ApprovalChainSteps) {
                var approvalChainStepsJson = approvalChainJson.ApprovalChainSteps[index];
                approvalChainSteps = approvalChainSteps + approvalChainStepsJson.Sequence + ". " + approvalChainStepsJson.RoleName + " <br/>";
            }
            var rolesColumn = $("<td></td>").addClass("left-align").html(approvalChainSteps);

            var isActiveCheckBox = $("<input name='activeApprovalChain' type='radio'/>").data("id", approvalChainJson.Id).addClass("set-active-approval-chain");
            if (approvalChainJson.IsActive) {
                isActiveCheckBox.attr("checked", true);
            }
            var isActiveColumn = $("<td></td>").addClass("center-text").html(isActiveCheckBox);

            row.append(approvalChainName);
            row.append(rolesColumn);
            row.append(isActiveColumn);
            approvalChainsSearchResultsBody.append(row);
        }
    }

    function bindSetActiveApprovalChainEvent() {
        $(".set-active-approval-chain").change(function() {
            var approvalChainId = $(this).data("id");

            $.ajax({
                type: "POST",
                dataType: "json",
                url: "@Url.Action("SetActiveApprovalChain")",
                data: {
                    approvalChainId: approvalChainId
                },
                async: true,
                success: function (jsonData) {
                }
            });
        });
    }

    function bindUserSearchEvent() {
        $('#user-search').keypress(function() {
            var emailPartial = $(this).val();
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "@Url.Action("FindUsers")",
                data: {
                    emailPartial: emailPartial
                },
                async: true,
                success: function (jsonData) {
                    renderUsers(jsonData);
                    bindUpdateAdminEvent();
                }
            });
        });
    }

    function renderUsers(jsonData)
    {
        var userSearchResultsBody = $("#userSearchResultsTable tbody");
        userSearchResultsBody.empty();
        for (var index in jsonData) {
            var userJson = jsonData[index];
            var row = $("<tr></tr>");
            var emailColumn = $("<td></td>").addClass("center-text").text(userJson.Email);
            var displayNameColumn = $("<td></td>").addClass("center-text").text(userJson.DisplayName);

            var isAdminCheckBox = $("<input type='checkbox'/>").data("email", userJson.Email).addClass("update-admin");
            if (userJson.IsAdmin) {
                isAdminCheckBox.attr("checked", true);
            }
            var isAdminColumn = $("<td></td>").addClass("center-text").html(isAdminCheckBox);

            row.append(emailColumn);
            row.append(displayNameColumn);
            row.append(isAdminColumn);
            userSearchResultsBody.append(row);
        }
    }

    function bindUpdateAdminEvent() {
        $(".update-admin").change(function () {
            var email = $(this).data("email");
            var isAdmin = $(this).is(":checked");
            $.ajax({
                type: "POST",
                dataType: "json",
                url: "@Url.Action("UpdateIsAdmin")",
                data: {
                    email: email,
                    isAdmin: isAdmin
                },
                async: true,
                success: function (jsonData) {
                }
            });
        });
    }
</script>