@using System.Web.Optimization
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Workflow Management System</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1">

        @Scripts.Render("//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
        @Scripts.Render("//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js")
        @Styles.Render("//ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css")

        @Styles.Render("~/Content/css/bootstrap-3.2.0-dist/bootstrap.min.css")
        @Scripts.Render("~/Content/css/bootstrap-3.2.0-dist/js/bootstrap.min.js")
        
        @Styles.Render("~/Content/css/theme/layout.css")
        
        @Scripts.Render("~/Scripts/js/errors.js")
        @Styles.Render("~/Content/css/module/errors.css")
        
        @Styles.Render("~/Content/css/module/controls.css")
        @Styles.Render("~/Content/css/module/colors.css")
        @Scripts.Render("~/Scripts/js/animation.js")
        
        @Scripts.Render("~/Scripts/modernizr-2.6.2.js")
        
        @Scripts.Render("~/Scripts/js/noty/jquery.noty.packaged.min.js")
        @Scripts.Render("~/Scripts/js/noty/themes/default.js")
        @Scripts.Render("~/Scripts/js/noty/themes/relax.js")
        @Styles.Render("~/Content/css/Animate/animate.css")

    </head>
    <body>
        @if (Request.IsAuthenticated)
        {
            Html.RenderAction("RenderNavigationHeader", "Navigation");
        }
        @RenderBody()
    </body>
</html>
